[rerere]
	enabled = true
[user]
	name = ivoPashov
	email = ivo.pashoff@gmail.com
[core]
	excludesfile = /Users/ivopashov/.gitignore_global
	editor = nano
[difftool "sourcetree"]
	cmd = " "
	path = 
[mergetool "sourcetree"]
	cmd = " "
	trustExitCode = true
[alias]
    	fpush = push --force-with-lease
    	co = checkout
    	vis = log --oneline --graph --decorate --all
    	vis-oneline = git log --pretty=oneline
    	last = log -1 HEAD
    	bl = branch -l
    	rd = push origin --delete
    	blame = log --pretty=format:"%h - %an, %ai %s" --date-order --follow
    	rom = rebase origin/master
    	f = fetch
    	resetmerge = reset --merge
    	resetcommit = reset --soft HEAD~
